/Assignment1_Mosinski/Exercise #42/Exercise #42/nbproject/private/
/Assignment1_Mosinski/Exercise #42/Exercise #42/build/
/Assignment1_Mosinski/Exercise #42/nbproject/private/
/Assignment1_Mosinski/Exercise #42/build/
/Assignment1_Mosinski/Assignment2_Mosinski/nbproject/private/
/Assignment2_Mosinski/Exercise #19/nbproject/private/
/Assignment2_Mosinski/Exercise #19/build/
/Assignment2_Mosinski/Exercise #20/nbproject/private/
/Assignment2_Mosinski/Exercise #20/build/
/Assignment2_Mosinski/Exercise #21/nbproject/private/
/Assignment2_Mosinski/Exercise #21/build/
/Assignment3_Mosinski/Exercise #19/nbproject/private/
/Assignment3_Mosinski/Exercise #19/build/
/Assignment3_Mosinski/Exercise #20/nbproject/private/
/Assignment3_Mosinski/Exercise #20/build/
/Assignment4_Mosinski/nbproject/private/
/Assignment4_Mosinski/build/
/Assignment4_Mosinski/Assignment4_Mosinski_#25/nbproject/private/
/Assignment4_Mosinski/Assignment4_Mosinski_#25/build/
/Assignment4_Mosinski/Assignment4_Mosinski_#26/nbproject/private/
/Assignment4_Mosinski/Assignment4_Mosinski_#26/build/
/Assignment4_Mosinski/Assignment4_Mosinski_#27/nbproject/private/
/Assignment4_Mosinski/Assignment4_Mosinski_#27/build/